<button class="home-button"><a routerLink="/home">Volver a Home</a></button>
<button class="home-button"><a routerLink="/artists-profile">Registrar Artista</a></button>
<div class="artists-container">
  <div *ngFor="let artist of artistsList$ | async" class="artist-card">
    <h2>{{ artist.nombre }} {{ artist.apellido }}</h2>
    <h4>Nombre artístico: {{ artist.nombreArtistico }}</h4>
    <h5>Pais: {{ artist.pais }}</h5>
    <p>Biografía: {{ artist.biografia }}</p>
    <img [src]="artist.imagen" alt="Imagen del artista">
    <button (click)="deleteArtist(artist.id)" class="delete-button">Eliminar</button>
  </div>
</div>
