<!-- 
<div class="c-container">

<img class="c-container--img" src="../assets/Background.png" alt="imagen de fondo">


<nav class="navbar bg-body-tertiary">
  <form class="container-fluid justify-content-start">
    <button class="btn btn-outline-success me-2" type="button"><a class="c-container--a"  routerLink="/artists">Ver listado de artistas</a></button>
    <button class="btn btn-outline-success me-2" type="button"><a class="c-container--a" routerLink="/artists-profile">Nuevo registro de Artista</a></button>
    <button class="btn btn-outline-success me-4" type="button"><a class="c-container--a" routerLink="/art-works">Ver listado de obras</a></button>
  </form>
</nav>
</div> -->

<router-outlet></router-outlet>
