
<button class="home-button"><a routerLink="/home">Volver a Home</a></button>
<button class="home-button"><a routerLink="/add-art">Agregar Obra</a></button>

<div class="cards-container">
  <div *ngFor="let obra of artWorkList" class="obra-card">
    <h2>Obra: {{ obra.name }}</h2>
    <img [src]="obra.image" alt="{{ obra.name }}">
    <h4>Artista: {{ getArtistName(obra.artistId) }}</h4>
    <p>{{obra.date}}</p>
    <p>{{ obra.description }}</p>
    <button (click)="likeArtWork(obra.id)" class="like-button">
      Me gusta ({{ obra.likes || 0 }})
    </button>
    <button (click)="deleteObras(obra.id)" class="delete-button">Eliminar</button>
  </div>
</div>
