
<div class="c-container">

  <img class="c-container--img" src="../assets/Background.png" alt="imagen de fondo">

  <div class="c-container__div">
  <h2 class="c-container__div--h2--line-break">Lamento informar que momentáneamente está deshabilitada
    la opción de cargar nuevas Obras de Arte, pero eres bienvenido a <a class="c-container__div--a" routerLink="/artists-profile">inscribirte como Artista!</a></h2>
  <p>Si quieres, puedes dejar tu "Me Gusta" en cada obra, o dejar comentarios.</p>
  <h3>Muchas gracias</h3>
</div>
</div>


  <nav class="navbar bg-body-tertiary c-nav">
    <form class="container-fluid justify-content-start">
      <div class="c-nav__form__div--img">
        <a class="c-nav--a"  routerLink="/artists"><img class="c-nav__form--img" src="../../../assets/Visita el perfil de nuestros artistas.png" alt=""></a>
    </div>
<a class="c-nav--a" routerLink="/artists-profile"><img class="c-nav__form--img" src="../../../assets/new register.png" alt="Nuevo registro"></a>
    <a class="c-nav--a" routerLink="/art-works"><img class="c-nav__form--img" src="../../../assets/OBRAS.png" alt="Obras de arte"></a>
    </form>
  </nav>
