.home-button{
  background-color: #D5DCDD;
  padding: 8px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 4px;
  opacity: 0.5;

  a{
    text-decoration: none;
    color: black;
  }
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

form {
  width: 300px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}