<form (ngSubmit)="addNewArtist()">
  <legend>Nombre: <input type="text" [(ngModel)]="newArtist.nombre" name="nombre"></legend>
  <legend>Apellidos: <input type="text" [(ngModel)]="newArtist.apellido" name="apellido"></legend>
  <legend>Nombre artístico: <input type="text" [(ngModel)]="newArtist.nombreArtistico" name="nombreArtistico"></legend>
  <legend>País: <input type="text" [(ngModel)]="newArtist.pais" name="pais"></legend>
  <legend>Biografía: <input type="text" [(ngModel)]="newArtist.biografia" name="biografia"></legend>
  <legend>Imagen: <input type="text" placeholder="URL de la imagen" [(ngModel)]="newArtist.imagen" name="imagen"></legend>
  <button type="submit">Enviar registro</button>
</form>

<button><a routerLink="/home">Volver a Home</a></button>
